<c8y-title>Custom dashboard</c8y-title>

<c8y-action-bar-item [placement]="'right'">
  <button
    class="btn btn-link"
    title="{{ 'Add random' }}"
    type="button"
    (click)="addRandom()"
  >
    <i c8yIcon="plus-circle"></i>
    {{ 'Add random' }}
  </button>
</c8y-action-bar-item>
<c8y-action-bar-item [placement]="'right'">
  <button
    class="btn btn-link"
    title="{{ 'Toggle freeze' }}"
    (click)="isFrozen = !isFrozen"
  >
    <i [c8yIcon]="isFrozen ? 'lock' : 'unlock'"></i>
    {{ 'Toggle freeze' }}
  </button>
</c8y-action-bar-item>

<c8y-help src="/docs/cockpit/working-with-dashboards/#working-with-dashboards"></c8y-help>

<c8y-dashboard (dashboardChange)="dashboardChange($event)">
  <!--  Simple widgets represented by widgets array property from CustomDashboardComponent class-->
  <c8y-dashboard-child
    [class]="{
      'panel-title-hidden': true
    }"
    title="dynamic"
    [isFrozen]="isFrozen"
    *ngFor="let widget of widgets"
    [data]="widget"
    [width]="widget.width"
    [height]="widget.height"
    #current
  >
    <div class="card-block">
      Simple widget with content only
      <br />
      x: {{ current.x }}
      <br />
      y: {{ current.y }}
      <br />
      width: {{ current.width }}
      <br />
      height: {{ current.height }}
      <br />
    </div>
  </c8y-dashboard-child>

  <!--  Dashboard child with title and widget classes applied-->
  <c8y-dashboard-child
    [class]="{
      'panel-content-branded': true,
      'panel-title-border': true
    }"
    #cpWidget
    [isFrozen]="isFrozen"
    [x]="0"
    [y]="1"
    [width]="3"
    [height]="2"
  >
    <c8y-dashboard-child-title>
      <span>Widget title</span>
    </c8y-dashboard-child-title>
    <div class="card-block">
      This widget has CSS classes 'panel-content-branded' and 'panel-title-border' applied.
      <br />
      x: {{ cpWidget.x }}
      <br />
      y: {{ cpWidget.y }}
      <br />
      width: {{ cpWidget.width }}
      <br />
      height: {{ cpWidget.height }}
      <br />
    </div>
  </c8y-dashboard-child>

  <!--  Dashboard child with title, widget class applied and children actions-->
  <c8y-dashboard-child
    [class]="{ 'panel-content-dark': true }"
    #cpWidget2
    [isFrozen]="isFrozen"
    [x]="8"
    [y]="1"
    [width]="4"
    [height]="4"
  >
    <c8y-dashboard-child-title>
      <span>Widget title</span>
    </c8y-dashboard-child-title>
    <c8y-dashboard-child-action>
      <a
        href=""
        (click)="cpWidget2.isFrozen = !cpWidget2.isFrozen; (false)"
      >
        <i [c8yIcon]="cpWidget2.isFrozen ? 'lock' : 'unlock'"></i>
        Toggle freeze
      </a>
    </c8y-dashboard-child-action>
    <div class="card-block">
      This widget has CSS classes 'panel-content-dark' applied. It also has toggle freeze action
      button.
      <br />
      x: {{ cpWidget2.x }}
      <br />
      y: {{ cpWidget2.y }}
      <br />
      width: {{ cpWidget2.width }}
      <br />
      height: {{ cpWidget2.height }}
      <br />
    </div>
  </c8y-dashboard-child>

  <!--  Dashboard child with title, widget class applied and children actions-->
  <c8y-dashboard-child
    [class]="{ 'panel-content-transparent': true }"
    #cpWidget3
    [isFrozen]="isFrozen"
    [x]="0"
    [y]="3"
    [width]="8"
    [height]="2"
  >
    <c8y-dashboard-child-title *ngIf="showTitle">
      <span>Widget title</span>
    </c8y-dashboard-child-title>
    <c8y-dashboard-child-action>
      <a
        href=""
        (click)="showTitle = !showTitle; (false)"
      >
        <i [c8yIcon]="'heading'"></i>
        Hide/show title
      </a>
    </c8y-dashboard-child-action>
    <c8y-dashboard-child-action>
      <a
        href=""
        (click)="cpWidget3.isFrozen = !cpWidget3.isFrozen; (false)"
      >
        <i [c8yIcon]="cpWidget3.isFrozen ? 'lock' : 'unlock'"></i>
        Toggle freeze
      </a>
    </c8y-dashboard-child-action>
    <div class="card-block">
      This widget has CSS classes 'panel-content-transparent' applied. It also has toggle freeze and
      toggle title action buttons.
      <br />
      x: {{ cpWidget3.x }}
      <br />
      y: {{ cpWidget3.y }}
      <br />
      width: {{ cpWidget3.width }}
      <br />
      height: {{ cpWidget3.height }}
      <br />
    </div>
  </c8y-dashboard-child>

  <!-- Dashboard child with a dynamic component -->
  <c8y-dashboard-child
    [isFrozen]="isFrozen"
    [width]="10"
    [height]="4"
  >
    <c8y-dashboard-child-title>
      <span>Dynamic component child title</span>
    </c8y-dashboard-child-title>
    <c8y-dashboard-child-action>
      <button
        title="{{ 'Configure this widget' }}"
        type="button"
        (click)="editComponent = !editComponent; (false)"
      >
        <i [c8yIcon]="'cog'"></i>
        {{ !editComponent ? 'Configure this widget' : 'Close configuration' }}
      </button>
    </c8y-dashboard-child-action>
    <div class="card-block">
      <form
        name="form"
        #configForm="ngForm"
      >
        <c8y-dynamic-component
          componentId="angular.widget.demo"
          [config]="{ text: 'Hello world' }"
          [mode]="editComponent ? 'config' : 'component'"
        ></c8y-dynamic-component>
      </form>
    </div>
  </c8y-dashboard-child>
</c8y-dashboard>
