<div class="card-header separator">
  <span class="h4 card-title">Bottom drawer title</span>
</div>
<div class="inner-scroll flex-grow">
  <div class="card-block">
    <p>Bottom drawer content</p>
  </div>
</div>
<div class="card-footer text-center p-24 separator flex-no-shrink">
  <button
    class="btn btn-default"
    [disabled]="isDisabled"
  >
    This button is disabled, as the inital state defines it.
  </button>
  <button
    class="btn btn-default"
    (click)="cancel()"
  >
    Cancel
  </button>
  <button
    class="btn btn-primary"
    (click)="save()"
  >
    Save
  </button>
</div>
