<c8y-title>Data grid examples - synchronous expandable rows</c8y-title>

<c8y-data-grid
  class="content-fullpage d-flex d-col border-top border-bottom"
  [title]="title"
  [columns]="columns"
  [displayOptions]="displayOptions"
  [rows]="data"
  [pagination]="pagination"
  [selectable]="selectable"
  [expandableRows]="'SYNC'"
  (itemsSelect)="onItemsSelect($event)"
  [actionControls]="actionControls"
>
  <div *c8yExpandableRow="let context">
    <c8y-sync-expandable-row-example [context]="context"></c8y-sync-expandable-row-example>
  </div>
</c8y-data-grid>
