<c8y-title>Chat component example</c8y-title>
<div class="row d-flex-md">
  <div class="col-md-4 col-xs-12 p-0">
    <div class="d-col p-16 form-group-sm bg-level-1">
      <p class="text-medium p-b-16">ChatConfig options</p>

      <label>headline</label>
      <div class="input-group input-group-sm m-b-8">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="config.headline"
        />
        <div class="input-group-btn">
          <button
            class="btn btn-default"
            (click)="reloadComponent()"
          >
            {{ 'Apply' | translate }}
          </button>
        </div>
      </div>

      <label>title</label>
      <div class="input-group input-group-sm m-b-8">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="config.title"
        />
        <div class="input-group-btn">
          <button
            class="btn btn-default"
            (click)="reloadComponent()"
          >
            {{ 'Apply' | translate }}
          </button>
        </div>
      </div>

      <label>welcomeText</label>
      <div class="input-group input-group-sm m-b-8">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="config.welcomeText"
        />
        <div class="input-group-btn">
          <button
            class="btn btn-default"
            (click)="reloadComponent()"
          >
            {{ 'Apply' | translate }}
          </button>
        </div>
      </div>

      <label>welcomePosition</label>
      <div class="input-group input-group-sm form-group-sm m-b-8">
        <div class="c8y-select-wrapper">
          <select
            class="form-control"
            [(ngModel)]="config.welcomePosition"
          >
            <option value="top">Top</option>
            <option value="center">Center</option>
            <option value="bottom">Bottom</option>
          </select>
        </div>
        <div class="input-group-btn">
          <button
            class="btn btn-default"
            (click)="reloadComponent()"
          >
            {{ 'Apply' | translate }}
          </button>
        </div>
      </div>

      <label>suggestionsLayout</label>
      <div class="input-group input-group-sm m-b-8">
        <div class="c8y-select-wrapper">
          <select
            class="form-control"
            [(ngModel)]="config.suggestionsLayout"
          >
            <option value="vertical">Vertical</option>
            <option value="horizontal">Horizontal</option>
          </select>
        </div>
        <div class="input-group-btn">
          <button
            class="btn btn-default"
            (click)="reloadComponent()"
          >
            {{ 'Apply' | translate }}
          </button>
        </div>
      </div>

      <label>scrollbarOnlyOnHover</label>
      <div class="m-b-8">
        <label
          class="c8y-switch"
          title="scrollbarOnlyOnHover"
        >
          <input
            type="checkbox"
            [(ngModel)]="config.scrollbarOnlyOnHover"
            (ngModelChange)="reloadComponent()"
          />
          <span></span>
          <span>scrollbarOnlyOnHover</span>
        </label>
      </div>

      <label>appearance</label>
      <div class="input-group input-group-sm m-b-8">
        <div class="c8y-select-wrapper">
          <select
            class="form-control"
            [(ngModel)]="config.appearance"
          >
            <option value="framed">framed</option>
            <option value="flat">flat</option>
          </select>
        </div>
        <div class="input-group-btn">
          <button
            class="btn btn-default"
            (click)="reloadComponent()"
          >
            {{ 'Apply' | translate }}
          </button>
        </div>
      </div>

      <label>placeholder</label>
      <div class="input-group input-group-sm m-b-8">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="config.placeholder"
        />
        <div class="input-group-btn">
          <button
            class="btn btn-default"
            (click)="reloadComponent()"
          >
            {{ 'Apply' | translate }}
          </button>
        </div>
      </div>

      <label>disclaimerText</label>
      <div class="input-group input-group-sm m-b-8">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="config.disclaimerText"
        />
        <div class="input-group-btn">
          <button
            class="btn btn-default"
            (click)="reloadComponent()"
          >
            {{ 'Apply' | translate }}
          </button>
        </div>
      </div>

      <label>sendButtonText (displayed as a tooltip)</label>
      <div class="input-group input-group-sm m-b-8">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="config.sendButtonText"
        />
        <div class="input-group-btn">
          <button
            class="btn btn-default"
            (click)="reloadComponent()"
          >
            {{ 'Apply' | translate }}
          </button>
        </div>
      </div>

      <label>cancelButtonText (displayed as a tooltip)</label>
      <div class="input-group input-group-sm m-b-8">
        <input
          class="form-control"
          type="text"
          [(ngModel)]="config.cancelButtonText"
        />
        <div class="input-group-btn">
          <button
            class="btn btn-default"
            (click)="reloadComponent()"
          >
            {{ 'Apply' | translate }}
          </button>
        </div>
      </div>

      <pre class="m-t-16 inner-scroll small">{{ config | json }}</pre>
    </div>
  </div>
  <div class="col-md-8 col-xs-12">
    @if (showComponent) {
      <label
        class="c8y-switch m-t-8"
        title="showInitialMessage"
      >
        <input
          class="form-control"
          type="checkbox"
          [(ngModel)]="showInitialMessage"
          (ngModelChange)="reloadComponent()"
        />
        <span></span>
        <span>Show example message with content projection</span>
      </label>
      <div
        class="card m-t-16"
        style="height: 730px"
      >
        <c8y-ai-chat
          [config]="config"
          (onMessage)="sendMessage($event)"
          [isLoading]="isLoading"
          [suggestionsTemplate]="suggestionsRef"
        >
          @if (showInitialMessage) {
            <c8y-ai-chat-message>
              You can also use content projection to add any dynamic content to the chat bubble.
              <div class="d-flex justify-content-end">
                <button class="btn btn-default btn-sm m-t-8">Get device details</button>
                <button class="btn btn-default btn-sm m-t-8 m-l-4">Get all measurements</button>
              </div>
              <c8y-ai-chat-message-action
                icon="rocket"
                tooltip="Get device details"
              ></c8y-ai-chat-message-action>
            </c8y-ai-chat-message>
          }
          @for (message of displayMessages; track message; let i = $index) {
            <c8y-ai-chat-message [message]="message">
              @if (message.role === 'user') {
                <div [innerHTML]="message.content | markdownToHtml | async"></div>
              } @else {
                <ng-container
                  [ngComponentOutlet]="AiChatAssistantMessageComponent"
                  [ngComponentOutletInputs]="{
                    assistantMessageContext: {
                      message: message,
                      config: assistantMessageDisplayConfig,
                      isMessageLoading: isLoading && i === messages.length - 1,
                      messageDisplayIndex: messages.length - 1 - i
                    }
                  }"
                ></ng-container>
              }

              @if (message.role === 'assistant') {
                <c8y-ai-chat-message-action
                  icon="thumbs-up"
                  tooltip="This is useful"
                ></c8y-ai-chat-message-action>
              }

              @if (message.role === 'assistant') {
                <c8y-ai-chat-message-action
                  icon="thumbs-down"
                  tooltip="This is not useful"
                ></c8y-ai-chat-message-action>
              }

              @if (message.role === 'assistant') {
                <c8y-ai-chat-message-action
                  icon="undo"
                  tooltip="Revert"
                  (actionClicked)="revertMessage(message)"
                ></c8y-ai-chat-message-action>
              }

              @if (message.role === 'user') {
                <c8y-ai-chat-message-action
                  icon="edit1"
                  tooltip="Edit"
                ></c8y-ai-chat-message-action>
              }

              @if (message.role === 'user') {
                <c8y-ai-chat-message-action
                  icon="clone"
                  tooltip="Copy"
                ></c8y-ai-chat-message-action>
              }
            </c8y-ai-chat-message>
          }
          @if (isLoading) {
            <c8y-ai-chat-message>
              <c8y-loading [message]="'Loading...'"></c8y-loading>
            </c8y-ai-chat-message>
          }

          <div slot="welcome">
            You can also project custom content into the welcome area of the chat component.
          </div>
          @if (showInitialMessage) {
            <div slot="before-messages">
              You can also project custom content before all messages.
            </div>
          }
          @if (showInitialMessage) {
            <div slot="after-messages">You can also project custom content after all messages.</div>
          }
          @if (showInitialMessage) {
            <div>This is content that is projected by default and always shown.</div>
          }

          <c8y-ai-chat-suggestion
            [label]="'Create device '"
            [prompt]="'AHOI, create a new device'"
            (suggestionClicked)="sendMessage($event)"
          ></c8y-ai-chat-suggestion>

          <c8y-ai-chat-suggestion
            [icon]="'forward'"
            [label]="'Mix and match'"
            [useAiButtons]="true"
            [prompt]="'Create a device with a measurement and an event'"
            (suggestionClicked)="sendMessage($event)"
          ></c8y-ai-chat-suggestion>

          <!-- For cases where dynamic behaviour is needed, use `<ng-template>` -->
          <ng-template #suggestionsRef>
            <c8y-ai-chat-suggestion
              [icon]="'c8y-bulb'"
              [useAiButtons]="true"
              [label]="'Dynamic suggestion from AI'"
              [prompt]="'Dynamic suggestion from AI'"
              (suggestionClicked)="sendMessage($event)"
            ></c8y-ai-chat-suggestion>
          </ng-template>
        </c8y-ai-chat>
      </div>
    }

    <div class="p-16 bg-level-1">
      <p class="text-medium">Show timestamps on chat messages</p>
      <p class="text-muted text-12 m-b-16">
        The option controls the AIMessage objects passed to the component, it's not part of the
        configuration.
      </p>
      <label
        class="c8y-checkbox m-t-8"
        title="showTimestamps"
      >
        <input
          class="form-control"
          type="checkbox"
          [(ngModel)]="showTimestamps"
          (ngModelChange)="reloadComponent()"
        />
        <span></span>
        <span>showTimestamps</span>
      </label>
    </div>
  </div>
</div>
