<!-- The c8y-title component will display the given string (here: "Breadcrumb hook example") in the header as title -->
<c8y-title>Breadcrumb</c8y-title>

<div class="card">
  <!-- important -->

  <c8y-breadcrumb>
    <c8y-breadcrumb-item
      [icon]="'cog'"
      [label]="'Settings'"
    ></c8y-breadcrumb-item>
    <c8y-breadcrumb-item
      [icon]="'cog'"
      [label]="'Authentication'"
    >
      <span>Projected content</span>
      <span></span>
    </c8y-breadcrumb-item>
  </c8y-breadcrumb>
  <!-- /important -->

  <div class="card-block">
    <c8y-breadcrumb-outlet
      class="app-breadcrumbs"
      [breadcrumbs]="breadcrumbService.items$ | async"
    ></c8y-breadcrumb-outlet>
  </div>
</div>
