<c8y-title>Data grid examples</c8y-title>

<c8y-data-grid
  class="content-fullpage d-flex d-col border-top border-bottom"
  [title]="title"
  [columns]="columns"
  [rows]="data"
  [treeGrid]="true"
  [pagination]="pagination"
  [selectable]="selectable"
  (itemsSelect)="onItemsSelect($event)"
  [actionControls]="actionControls"
  [bulkActionControls]="bulkActionControls"
  (onConfigChange)="onConfigChange($event)"
  (onFilter)="onFilter($event)"
  (onAddCustomColumn)="onAddCustomColumn($event)"
  (onRemoveCustomColumn)="onRemoveCustomColumn($event)"
></c8y-data-grid>
